<!DOCTYPE html>
<html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js"></script>
<script src="/static/app.js"></script>
<link rel="stylesheet" type="text/css" href="/static/main.css">
<title>Facebook ID finder</title>
<body>
	<div id="heading">
		<h2>Find Facebook UUID</h2>
	</div>
	<div id="input">
		<textarea rows="8" cols="100" id="profile_links" placeholder="Enter Profile URLs"></textarea>
		<input id="submit" type="button" value="submit" onclick="findUUID()">
	</div>
	<div id="uuid">
		<div id="csvuuid"></div>
	</div>
</div>
</body>
</html>